<%= form_with url: davletshin_path, method: :get, local: true do %>
  <div class="form-group mr-2">
    <%= select_tag :student_id, options_from_collection_for_select(Author.where(status: 'студент'), :author_id, :full_name), prompt: "Выберите студента" %><br>
  </div>
  <div class="actions">
    <%= submit_tag "Показать публикации", class: "btn btn-primary" %><br>
  </div>
<% end %>

<% if @students_publications.present? %>
  <h2>Publications for <%= @students_publications.first.name %> <%= @students_publications.first.lastname %></h2>
  <table>
    <thead>
      <tr>
        <th colspan="3">ФИО</th>
        <th scope="col">Название НИР</th>
        <th scope="col">Дата публикации</th>
        <th scope="col">DOI</th>
        <th scope="col">Ссылка на публикацию</th>
        <th scope="col">Публикация</th>
      </tr>
    </thead>
    <tbody>
      <% @students_publications.each do |publication| %>
        <tr>
          <td colspan="3"><%= "#{publication.lastname}<br> #{publication.name}<br> #{publication.fathername}".html_safe %></td>
          <td><%= publication.title %></td>
          <td><%= publication.dtr %></td>
          <td><%= publication.doi %></td>
          <td style="word-wrap: break-word; max-width: 200px;"><%= link_to publication.href, publication.href %></td>
          <td><%= publication.output %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Не найдено публикации для выбранного студента.</p>
<% end %>
<%= link_to 'Скачать CSV', davletshin_path(format: 'csv', student_id: params[:student_id]), class: 'btn btn-primary' %>