<%# The container tag %>
<%= paginator.render do -%>
  <nav class="pagination" role="navigation" aria-label="pager">
    <%= first_page_tag unless current_page.first? %>
    <%= prev_page_tag unless current_page.first? %>
    <% each_page do |page| -%>
      <% if page.display_tag? -%>
        <span class="page<%= ' current' if page.current? %>">
          <%= link_to_unless page.current?, page, { remote: remote, rel: page.rel }, class: "page-link" %>
        </span>
      <% elsif !page.was_truncated? -%>
        <span class="page gap"><%= t('views.pagination.truncate').html_safe %></span>
      <% end -%>
    <% end -%>
    <% unless current_page.out_of_range? %>
      <%= next_page_tag unless current_page.last? %>
      <%= last_page_tag unless current_page.last? %>
    <% end %>
  </nav>
<% end -%>
